.connect-tray {
  .hang-up-popup {
    $color-gray: #90a0af;
    $color-red: #d92929;

    height: 36px !important;
    position: absolute !important;
    top: 48px;
    border: none;
    border-radius: 50%;
    background: transparent;

    &:hover {
      cursor: pointer;
    }

    i {
      color: white;
      background: #d92929 !important;
      font-size: x-large;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .toggle-phone {
    padding: 0 5px !important;

    i {
      height: 30px;
      width: 30px;
      font-size: large;
      border-radius: 30%;

      &::before {
        margin-top: 5px;
        display: block;
      }
    }
  }
}