<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="connect_settings_action">
      <field name="type">ir.actions.server</field>
      <field name="name">General Settings</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">action = model.open_settings_form()</field>
  </record>

  <menuitem id="settings_menu" parent="connect.connect_settings_menu"
      groups="connect.group_connect_admin"
      action="connect_settings_action" name="General" sequence="70"/>

  <record id='connect_settings_form' model='ir.ui.view'>
      <field name='name'>connect.settings.form</field>
      <field name='model'>connect.settings</field>
      <field name='type'>form</field>
      <field name='arch' type='xml'>
        <form create="false" delete="false">
            <sheet>
              <notebook>
                <page name="general" string="General"
                      invisible="is_registered == False">
                  <group>
                    <group>
                      <field name="api_url" string="Odoo URL"/>
                      <button name="action_open_system_parameters" type="object" string="Change Odoo URL"/>
                      <field name="api_fallback_url" string="Fallback URL"/>
                      <field name="debug_mode"/>
                    </group>
                  </group>
                </page>
                <page name="keys" string="API Keys"
                      invisible="is_registered == False">
                  <group>
                    <group string="Twilio" name="twilio_api">
                      <div colspan="2">
                        <small><strong>You can find your Twilio API data in <a href="https://console.twilio.com/" target="_blank">your Twilio Console</a></strong></small>
                      </div>
                      <field name="account_sid"/>
                      <field name="display_auth_token" string="Auth Token" password="1"/>
                      <field name="twilio_api_key" string="API Key SID"/>
                      <field name="display_twilio_api_secret" string="API Key Secret" password="1"/>
                      <button colspan="2" name="sync" type="object" string="SYNC TWILIO ACCOUNT" class="btn btn-primary"/>
                    </group>
                    <group name="openai_api" string="OpenAI">
                      <div colspan="2">
                        <small><strong>You can find your OpenAI API key in <a href="https://platform.openai.com/settings/organization/api-keys" target="_blank">your OpenAI Setings</a></strong></small>
                      </div>
                      <field name="display_openai_api_key" string="OpenAI API Key" password="1"/>
                    </group>
                  </group>
                </page>
                <page name="calls" string="Calls"
                      invisible="is_registered == False">
                  <group>
                    <group >
                      <field name="proxy_recordings"/>
                      <small colspan="2">If you disable it remove the HTTP AUTH in Twilio. Read <a target="new" href="https://help.twilio.com/articles/15827821586843">more</a>.</small>
                    </group>
                    <group>
                      <button colspan="2" name="reformat_numbers_button" string="FORMAT NUMBERS" type="object"/>
                    </group>
                  </group>
                </page>
                <page name="transcription" string="Transcription"
                      invisible="is_registered == False">
                  <group>
                    <group>
                      <field name="transcript_calls"/>
                      <field name="summary_prompt"
                             invisible="transcript_calls == False"/>
                      <field name="register_summary"
                             invisible="transcript_calls == False"/>
                      <field name="remove_recording_after_transcript"
                             invisible="transcript_calls == False"/>
                    </group>
                  </group>
                </page>
                <page string="Development" groups="base.group_no_one"
                      invisible="is_registered == False">
                  <group>
                    <group>
                      <field name="twilio_verify_requests"/>
                      <field name="media_url"/>
                    </group>
                  </group>
                </page>
                <page name="versions" string="Versions"
                      invisible="is_registered == False">
                  <group>
                    <button colspan="2" name="check_latest_versions" class="btn btn-info btn-sm me-1" type="object" string="CHECK VERSIONS"/>
                    <field name="latest_versions" nolabel="1"/>
                  </group>
                </page>
                <!-- REGISTRATION PAGE -->
                <page name="registration" string="Registration">
                  <group invisible="is_registered">
                    <div colspan="2" style="font-size: small;">
                      <strong >Registration is required to activate and use this product. We use it only for internal sales and support processes. Please read our <a target="_new" href="https://oduist.com/privacy">data privacy policy.</a></strong>
                    </div>
                    <div colspan="2" style="font-size: small;">
                      <field name="i_agree_to_register" nolabel="1"/>
                      <label for="i_agree_to_register" string="I agree to register my instance on the Oduist Users Portal."/>
                    </div>
                    <div colspan="2" style="font-size: small;">
                    <field name="i_agree_to_receive"/>
                    <label for="i_agree_to_receive" string="I agree to receive important product notifications, including security advisories, major updates, and critical patches that may affect my installation."/>
                    </div>
                    <div colspan="2" style="font-size: small;">
                      <field name="i_agree_to_contact"/>
                      <label for="i_agree_to_contact" string="I agree to be contacted by sales representatives who can help me understand additional services and support options available for my installation."/>
                    </div>
                  </group>
                  <group>
                    <group name="registration" string="Registration">
                      <div colspan="2" invisible="is_registered == True">
                        <small><strong>Your customer code is available on <a target="_blank" href="https://oduist.com/my">your Customer Portal</a>.</strong></small>
                      </div>
                      <field colspan="2" name="registration_number"
                             invisible="is_registered == False"/>
                      <field colspan="2" name="customer_code" string="CUSTOMER CODE"
                             invisible="is_registered == True"/>
                      <button colspan="2" name="register_instance" class="btn btn-primary btn-lg me-1" type="object" string="SUBMIT REGISTRATION"
                              invisible="is_registered or not i_agree_to_register or not i_agree_to_receive or not i_agree_to_contact"/>
                      <field name="is_registered" invisible="1"/>
                      <p colspan="2"
                         invisible="is_registered or (i_agree_to_register and i_agree_to_receive and i_agree_to_contact)">
                        Our product is <b>open source and free to use</b>, but it's <b>also a commercial solution used in business-critical environments</b>.<br/>
                        While we're committed to keeping the product open source, <b>we need sustainable ways to support its development and maintenance</b>.<br/>
                        We want to share why we ask for these permissions:
                        <ul>
                        <li><strong>Security First:</strong> We take security very seriously. If a critical bug or vulnerability is discovered, we need to ensure we can reach <strong>every user</strong> to provide an immediate fix.</li>
                        <li><strong>Ongoing Development:</strong> Even though the core product is free, we still need resources to maintain, improve, and support it. By staying connected, you help us continue innovating.</li>
                        <li><strong>Value-Added Services:</strong> We offer optional premium services that provide additional benefits, including SLA support, consulting, and advanced features. Having your contact details allows us to inform you about solutions that might help your business grow.</li>
                        <li><strong>Community and Support</strong>: Registering in our portal gives you access to knowledge bases, user forums, and troubleshooting help from other users and our team.</li>
                        </ul>
                        Your privacy is our priority - your registration data remains strictly confidential. We do not sell or misuse your information.<br/>
                        <strong>Thanks a lot for your trust, understanding and support! Welcome to our community!</strong>
                      </p>
                    </group>
                    <group string="Technical Support"
                           invisible="not is_registered">
                      <p colspan="2" >
                        <a role="button" class="btn btn-primary" href="https://oduist.com/knowledge/article/39" target="_new">DOCUMENTATION</a> |
                        <a role="button" class="btn btn-info" href="https://oduist.com/forum/user-support-portal-1" target="_new">COMMUNITY SUPPORT</a> |
                        <a role="button" class="btn btn-success" href="https://oduist.com/support" target="_new">ENTERPRISE SUPPORT</a>
                      </p>
                      <img alt="Great support!" colspan="2" src="/connect/static/description/support.jpg" width="100%"/>
                    </group>
                    <group name="registration_data" string="Registration Data"
                           invisible="is_registered">
                      <field name="company_name"/>
                      <field name="company_email"/>
                      <field name="company_phone"/>
                      <field name="company_country"/>
                      <field name="company_city"/>
                      <button colspan="2" class="btn-info btn-sm" name="update_company_data_button" string="UPDATE COMPANY DATA" type="object"/>
                      <field name="admin_name"/>
                      <field name="admin_email"/>
                      <field name="admin_phone"/>
                      <button colspan="2" class="btn-info btn-sm" name="update_admin_data_button" string="UPDATE ADMIN DATA" type="object"/>
                      <field name="web_base_url"/>
                    </group>
                  </group>
                </page>
              </notebook>
            </sheet>
        </form>
      </field>
  </record>

  <record id="update_usage" model="ir.cron">
      <field name="name">Update</field>
      <field name="interval_number">1</field>
      <field name="interval_type">days</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">model.update_usage()</field>
      <field name="state">code</field>
  </record>

  <record id="base.ir_cron_act" model="ir.actions.act_window">
            <field name="domain" eval="[('id','not in', [ref('mail.ir_cron_module_update_notification'), ref('connect.update_usage')])]"/>
  </record>

</odoo>
