<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="connect_settings_action">
      <field name="type">ir.actions.server</field>
      <field name="name">General Settings</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">action = model.open_settings_form()</field>
  </record>

  <menuitem id="settings_menu" parent="connect.connect_settings_menu"
      groups="connect.group_connect_admin"
      action="connect_settings_action" name="General" sequence="70"/>

  <record id='connect_settings_form' model='ir.ui.view'>
      <field name='name'>connect.settings.form</field>
      <field name='model'>connect.settings</field>
      <field name='type'>form</field>
      <field name='arch' type='xml'>
        <form create="false" delete="false">
            <sheet>
              <notebook>
                <page name="general" string="General">
                  <group>
                    <group>
                      <field name="api_url" string="Odoo URL"/>
                      <button name="action_open_system_parameters" type="object" string="Change Odoo URL"/>
                      <field name="api_fallback_url" string="Fallback URL"/>
                      <field name="debug_mode"/>
                    </group>
                  </group>
                </page>
                <page name="keys" string="API Keys">
                  <group>
                    <group string="Twilio" name="twilio_api">
                      <div colspan="2">
                        <small><strong>You can find your Twilio API data in <a href="https://console.twilio.com/" target="_blank">your Twilio Console</a></strong></small>
                      </div>
                      <field name="account_sid"/>
                      <field name="display_auth_token" string="Auth Token" password="1"/>
                      <field name="twilio_api_key" string="API Key SID"/>
                      <field name="display_twilio_api_secret" string="API Key Secret" password="1"/>
                      <button colspan="2" name="sync" type="object" string="SYNC TWILIO ACCOUNT" class="btn btn-primary"/>
                    </group>
                    <group name="openai_api" string="OpenAI">
                      <div colspan="2">
                        <small><strong>You can find your OpenAI API key in <a href="https://platform.openai.com/settings/organization/api-keys" target="_blank">your OpenAI Setings</a></strong></small>
                      </div>
                      <field name="display_openai_api_key" string="OpenAI API Key" password="1"/>
                    </group>
                    <group name="elevenlabs_api" string="ElevenLabs">
                      <div colspan="2">
                        <small><strong>You can find your ElevenLabs API key in <a href="https://elevenlabs.io/app/settings/api-keys" target="_blank">your ElevenLabs Settings</a></strong></small>
                      </div>
                      <field name="display_elevenlabs_api_key" string="API Key" password="1"/>
                      <field name="display_elevenlabs_tool_api_key" string="Tool API Key (x-api-key)" password="1"/>
                      <field name="display_elevenlabs_signing_secret" string="Signing Secret (wsec_...)" password="1"/>
                    </group>
                  </group>
                </page>
                <page name="calls" string="Calls">
                  <group>
                    <group >
                      <field name="proxy_recordings"/>
                      <small colspan="2">If you disable it remove the HTTP AUTH in Twilio. Read <a target="new" href="https://help.twilio.com/articles/15827821586843">more</a>.</small>
                    </group>
                    <group>
                      <button colspan="2" name="reformat_numbers_button" string="FORMAT NUMBERS" type="object"/>
                    </group>
                  </group>
                </page>
                <page name="transcription" string="Transcription">
                  <group>
                    <group>
                      <field name="transcript_calls"/>
                      <field name="summary_prompt"
                             invisible="transcript_calls == False"/>
                      <field name="register_summary"
                             invisible="transcript_calls == False"/>
                      <field name="remove_recording_after_transcript"
                             invisible="transcript_calls == False"/>
                    </group>
                  </group>
                </page>
                <page string="Development" groups="base.group_no_one">
                  <group>
                    <group>
                      <field name="twilio_verify_requests"/>
                      <field name="media_url"/>
                    </group>
                  </group>
                </page>
              </notebook>
            </sheet>
        </form>
      </field>
  </record>

  <record id="update_usage" model="ir.cron">
      <field name="name">Update</field>
      <field name="active" eval="False"/>
      <field name="interval_number">1</field>
      <field name="interval_type">days</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">model.update_usage()</field>
      <field name="state">code</field>
  </record>

  <record id="base.ir_cron_act" model="ir.actions.act_window">
            <field name="domain" eval="[('id','not in', [ref('mail.ir_cron_module_update_notification'), ref('connect.update_usage')])]"/>
  </record>

</odoo>
